@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,600,700");
@import url("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");

.hero {
  background: transparent;
}

.upload-box {
  width: 100%;
  height: auto;
  display: inline-block;
  border-radius: 10px;
  background: #ffffff;
}

.upload-box .upload-box-header {
  width: 100%;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #3A414A;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upload-box .upload-box-header .control-circles {
  padding-left: 15px;
  height: 14px;
}

.upload-box .upload-box-header .control-circles .circle {
  display: inline-block;
  margin: 0 4px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.upload-box .upload-box-header .control-circles .circle.is-green {
  background: #6CEFBD;
}

.upload-box .upload-box-header .control-circles .circle.is-yellow {
  background: #FFE28B;
}

.upload-box .upload-box-header .control-circles .circle.is-red {
  background: #FF7080;
}

.upload-box .upload-box-header .header-title h2 {
  font-size: 18px;
  font-weight: 400;
  color: #8793A2;
}

.upload-box .upload-box-header .gh-icon {
  padding-right: 15px;
}

.upload-box .upload-box-header .gh-icon i {
  font-size: 24px;
  color: #8793A2;
  margin-right: 5px;
  margin-left: 36px;
  cursor: pointer;
}

.upload-box .upload-box-content .upload-item,
.upload-box .upload-box-content .drop-container {
  width: 100%;
  height: 150px;
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.6);
}

.upload-box .upload-box-content .drop-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-box .upload-box-content .drop-container p {
  font-size: 16px;
  font-weight: 400;
  color: #8793A2;
}

.upload-box .upload-box-content .drop-container .upload-button {
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  padding: 0 2px;
}

.upload-box .upload-box-content .drop-container .upload-button input {
  display: none;
}

.upload-box .upload-box-content .upload-item {
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.upload-box .upload-box-content .upload-item .upload-item-content {
  width: 100%;
}

.upload-box .upload-box-content .upload-item .upload-item-content .filename {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upload-box .upload-box-content .upload-item .upload-item-content .filename .filename-left,
.upload-box .upload-box-content .upload-item .upload-item-content .filename .filename-right {
  display: flex;
  align-items: center;
}

.upload-box .upload-box-content .upload-item .upload-item-content .filename i {
  color: #8793A2;
  opacity: .8;
  font-size: 24px;
}

.upload-box .upload-box-content .upload-item .upload-item-content .filename i.ion-close-round:hover {
  opacity: 1;
  cursor: pointer;
}

.upload-box .upload-box-content .upload-item .upload-item-content .filename span {
  color: #8793A2;
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
}

.upload-box .upload-box-content .upload-item .upload-item-content .progress-content {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.upload-box .upload-box-content .upload-item .upload-item-content .progress-content .progress {
  display: block;
  position: relative;
  width: 100%;
  height: 12px;
  border-radius: 10px;
  background: #3A4048;
}

.upload-box .upload-box-content .upload-item .upload-item-content .progress-content .progress .bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  background: linear-gradient(90deg, #13ebff 0%, #6cefbd 100%);
}

.upload-box .upload-box-content .upload-item .upload-item-content .progress-content .progress .bar.is-done {
  background: #6CEFBD;
}

.upload-box .upload-box-content .upload-item .upload-item-content .progress-text-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 0 0;
}

.upload-box .upload-box-content .upload-item .upload-item-content .progress-text-content .progress-text {
  font-size: 13px;
  font-weight: 600;
  color: #13EBFF;
  transition: color 200ms ease-out;
}

.upload-box .upload-box-content .upload-item .upload-item-content .progress-text-content .progress-text.is-done {
  color: #6CEFBD;
}

.upload-box .upload-box-content .upload-item .upload-item-content .progress-text-content .speed-and-eta-text {
  font-size: 13px;
  font-weight: 600;
  color: #8793A2;
}

.upload-box .help-text {
  width: 100%;
  display: inline-block;
  padding: 10px 30px;
  font-size: 12px;
  color: #8793A2;
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.6);
}

.upload-box .help-text span {
  display: block;
  text-align: center;
  margin: 5px 0;
}

.upload-box .help-text span img {
  display: block;
  width: 30px;
  margin: 0 auto 5px auto;
}
