/* You can add global styles to this file, and also import other style files */

@import '~@angular/Material/prebuilt-themes/indigo-pink.css';
@import "ngx-uploader.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.toolbar-spacer {
  width: 8px;
}

.toolbar-right-spacer {
  flex: 1 1 auto;
}
