/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
}

.example-table-container {
  flex: 1;
}

table {
  width: 100%;
}

.mat-table {
  height: calc(100vh - 180px);
  overflow: auto;
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number {
  max-width: 80px;
}

.mat-column-state {
  min-width: 200px;
}

.mat-column-created {
  max-width: 124px;
}

