<mat-nav-list>
  <a mat-list-item href="#">
    <mat-icon matListIcon>leaderboard</mat-icon>
    Dashboard</a>
  <a mat-list-item href="#">
    <mat-icon matListIcon>dns</mat-icon>
    Cluster Node</a>
  <a mat-list-item href="#">
    <mat-icon matListIcon>devices_other</mat-icon>
    Device Descriptor</a>
  <a mat-list-item href="#">
    <mat-icon matListIcon>visibility_off</mat-icon>
    Proxy</a>
  <a mat-list-item href="#">
    <mat-icon matListIcon>task</mat-icon>
    Task</a>
  <a mat-list-item href="#">
    <mat-icon matListIcon>settings</mat-icon>
    Settings</a>
  <a mat-list-item href="#">
    <mat-icon matListIcon>logout</mat-icon>
    Logout</a>
</mat-nav-list>
