<h2 mat-dialog-title>Job Groups</h2>
<mat-dialog-content class="mat-typography">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Job Group Name</mat-label>
      <input matInput placeholder="" [(ngModel)]="data.jobGroup.name" name="name">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true">Close</button>
  <button mat-button cdkFocusInitial [disabled]="!data.jobGroup.name.length" (click)="conformButtonTapped()">Confirm</button>
</mat-dialog-actions>

