<h2 mat-dialog-title>Import Device Descriptors</h2>
<mat-dialog-content class="mat-typography">
  <div ng2FileDrop
       [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
       (fileOver)="fileOverBase($event)"
       [uploader]="uploader"
       class="well my-drop-zone">

    <p>
      Drag Device Descriptor files here or
    </p>
    <p>
      <label class="upload-button">
        <input type="file" ng2FileSelect [uploader]="uploader" multiple/> browse
      </label>
      to upload.
    </p>
  </div>
  <div *ngIf="uploader.queue.length > 0">
    <h3>Upload queue</h3>
    <p>Queue length: {{ uploader?.queue?.length }}</p>

    <table class="table">
      <thead>
      <tr>
        <th width="50%">Name</th>
        <th>Size</th>
        <th>Progress</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of uploader.queue">
        <td><strong>{{ item?.file?.name }}</strong></td>
        <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size / 1024 / 1024 | number:'.2' }} MB</td>
        <td *ngIf="uploader.options.isHTML5">
          <div class="progress" style="margin-bottom: 0;">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
          </div>
        </td>
        <td class="text-center">
          <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
          <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
          <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
        </td>
        <td nowrap>
          <button type="button" class="btn btn-success btn-xs"
                  (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
            <span class="glyphicon glyphicon-upload"></span> Upload
          </button>
          <button type="button" class="btn btn-warning btn-xs"
                  (click)="item.cancel()" [disabled]="!item.isUploading">
            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
          </button>
          <button type="button" class="btn btn-danger btn-xs"
                  (click)="item.remove()">
            <span class="glyphicon glyphicon-trash"></span> Remove
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <div>
      <div>
        Queue progress:
        <div class="progress" style="">
          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button *ngIf="uploader.queue.length > 0" mat-button
          (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
    <span class="glyphicon glyphicon-upload"></span> Upload all
  </button>
  <button *ngIf="uploader.queue.length > 0" mat-button
          (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
  </button>
  <button *ngIf="uploader.queue.length > 0" mat-button
          (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
    <span class="glyphicon glyphicon-trash"></span> Remove all
  </button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>

